.results-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: flex-start;
}

.places-content {
  flex: 0 0 auto;
  min-width: 400px;
  margin-left: 60px;
  .places-images {
    height: 50vh;
    background-size: cover;
    background-position: center;
  }
  .places-details {
    background-color: white;
    padding: 10px;
  }
}
.carousel-control {
  z-index: 10;
}
// .carousel-inner > .item > img {
//   height: 70vh;
//   width: 600px;
//   object-fit: fill;
// }

.map-container {
  flex: 0 0 350px;
  position: sticky !important;
  top: 10px !important;
}

#lock {
  display: block;
  margin: 15px auto;
}


#map {
  height: 70vh;
  top: 0 !important;
}

#map-box {
  color: $blue;
  font-size: 16px;
  font-weight: bold;
  font-family: "Karla";
}
