<div class="footer">
  <div class="footer-copyright">
  </div>
  <h5>Connect with us on social medias</h5>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook facebook"></i></a>
    <a href="#"><i class="fab fa-twitter twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin linkedin"></i></a>
  </div>
</div>
