<div class="container">
  <div>
    <h1>Buttons</h1>
    <div class="btn-validate"><h4 style="font-weight: 700">Book now</h4></div>
    <div class="btn-validate">Book now</div>
    <div class="btn-validate" id="lock"><i class="fas fa-lock-open"></i></div>
  </div>

  <div>
    <h1>Form</h1>
  </div>


  <div>
    <h1>fil d'ariane</h1>

   <div class="b-box b-box--dots">
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item big"></span>
    </div>


    <div class="b-box b-box--dots">
      <span class="b-box--dots__item is-active">   </span>
      <span class="b-box--dots__item is-active"></span>
      <span class="b-box--dots__item"></span>
      <span class="b-box--dots__item"></span>
      <span class="b-box--dots__item big"></span>
    </div>


    <div class="b-box b-box--dots">
      <span class="b-box--dots__item is-active">   </span>
      <span class="b-box--dots__item is-active"></span>
      <span class="b-box--dots__item is-active"></span>
      <span class="b-box--dots__item"></span>
      <span class="b-box--dots__item big"></span>
    </div>


    <div class="b-box b-box--dots">
      <span class="b-box--dots__item is-active">   </span>
      <span class="b-box--dots__item is-active"></span>
      <span class="b-box--dots__item is-active"></span>
      <span class="b-box--dots__item is-active"></span>
      <span class="b-box--dots__item big"></span>
    </div>

  </div>




  <div>
    <h1>cartes à pictos</h1>
  </div>
  <div>
    <h1>cartes de prestations</h1>
  </div>
  <div>
    <h1>sliders</h1>
  </div>
  <div>
    <h1>pattern de liste</h1>
  </div>
  <div>
    <h1>footer</h1>
  </div>
</div>

<script>
  const lock = document.getElementById("lock");

  function mouseOver(lock) {
    lock.addEventListener("mouseover", (event) => {
    const icon = event.currentTarget.firstChild
    icon.classList.remove("fa-lock-open");
    icon.classList.add("fa-lock");
  })
  };

  function mouseOut(lock) {
    lock.addEventListener("mouseout", (event) => {
    const icon = event.currentTarget.firstChild
    icon.classList.remove("fa-lock");
    icon.classList.add("fa-lock-open");
  })
  };

  mouseOver(lock);
  mouseOut(lock);

</script>
