<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner">
  <div>
    <h1> Welcome to Wedpacker</h1>
    <p>You are only a few clicks away from booking your wedding</p>
    <div class="btn-validate">start now</div>
  </div>
</div>
