<div class="container">
  <br>
  <div class="confirmation">
  <h2>Félicitations <%= current_user.first_name %>,</h2>
  <p>Votre paiement a bien été effectué. <br> Un email contenant un <strong>récapitulatif</strong> de votre commande, ainsi que les <strong>informations</strong> de tous vos préstataires vous a été envoyé. N'hésitez pas à nous contacter par <strong>email</strong> sur <%= link_to("customer.service@wedpacker.com") %> pour plus de renseignements.
    <br> Wedpacker vous remercie pour votre confiance !</p>
  </div>
</div>
