<div class="confirmation">
  <div class="confirmation-photo">
  </div>
  <div class="confirmation-message">
    <h4><strong>Félicitations <%= current_user.first_name %> !</strong></h4><br>
    <p>
      Votre paiement a bien été effectué.
      <br><br>
      Un email contenant un <strong>récapitulatif</strong> de votre commande, ainsi que les <strong>informations</strong> de tous vos préstataires vous a été envoyé.
      <br><br> N'hésitez pas à nous contacter par <strong>email</strong> sur <%= link_to("customer.service@wedpacker.com") %> pour plus de renseignements.
      <br><br> Nous vous remercions pour votre confiance !
      <br><br>
      <div id="#team-logo"><%= image_tag "logo_wp_blue.png", height: 25 %> <em><strong>Team</strong></em></div>
    </p>
  </div>
</div>
