<div class="container">
  <br>
  <div class="confirmation">
    <div class="confirmation-photo">
      <%= image_tag "bouquet.jpg", class:"tossing-bouquet", crop: :fill, width: 350, height: 450%>
    </div>
    <div class="confirmation-message">
      <h2>Félicitations <%= current_user.first_name %> !</h2>
      <p>Votre paiement a bien été effectué.
       <br>Nous nous occupons de contacter et réserver les services que vous avez choisi pour le jour J<br> Un email contenant un <strong>récapitulatif</strong> de votre commande, ainsi que les <strong>informations</strong> de tous vos préstataires vous a été envoyé. <br> N'hésitez pas à nous contacter par <strong>email</strong> sur <%= link_to("customer.service@wedpacker.com") %> pour plus de renseignements.
        <br> Wedpacker vous remercie pour votre confiance !</p>
    </div>
  </div>
</div>
