<h1>Bundles#show</h1>
<p>Find me in app/views/bundles/show.html.erb</p>

<div class="container">

  <div class="b-box b-box--dots">
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item big">Total Price</span>
  </div>

  <div class="list-items">
    <div class="item-last">Recherche</div>
    <div class="item-last">Lieu</div>
    <div class="item-last">Services</div>
    <div class="item-last">Récapitulatif</div>
  </div>

<!-- TEST -->
  <%# @bundle.suppliers.each do |supplier| %>
    <%#= supplier.price %>
    <%#= @bundle.starts_on %>
    <%#= @bundle.ends_on %>
  <%# end %>

  <% if @bundle.state == "pending" %>
    <%= content_for :before_js do %>
      <script src="https://checkout.stripe.com/checkout.js"></script>
    <% end %>

    <%= render "pending_payment", bundle: @bundle %>

  <% else %>
    <!-- display confirmation message -->
  <% end %>
</div>
