.payment-info  {
  color: $blue;
  margin: 50px;
  .btn-validate {
    margin-top: 15px;
    text-align: center;
    margin-left: 425px;
  }
}

.payment-info {
  h3 {
    text-decoration: underline;
    text-decoration-color: $yellow;
    text-align: center;
  }
  h4 {
    text-align: center;
  }
}

.confirmation {
  display: flex;
  align-items: center;
  p {
  strong {
    text-decoration: underline;
    text-decoration-color: $yellow;
    }
  }
}

.check {
  color: green;
  font-size: 24px;
}
.confirmation-message {
  text-align: justify;

}

