.payment-info  {
  margin: 50px;
  .btn-validate {
    margin-top: 15px;
    text-align: center;
    margin-left: 425px;
  }
}

.payment-info {
  h3 {
    text-decoration: underline;
    text-decoration-color: $yellow;
    text-align: center;
  }
  h4 {
    text-align: center;
  }
}

.confirmation {
  display: flex;
  strong {
    text-decoration: underline;
    text-decoration-color: $yellow;
  }
}
.tossing-bouquet {
  border-radius: 50%;
  box-shadow: 3px;
  margin: 20px;
}
