.b-box {
  margin: 50px;
  &--dots {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1000px;
    height: 15px;

    &:after {
      position: absolute;
      display: block;
      content: '';

      top: 50%;
      left: 1px;

      height: 1px;
      width: calc(100% - 2px);

      background: $blue;

      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }

    &__item {
      position: relative;
      display: block;

      width: 10px;
      height: 10px;

      background: $yellow;
      border-radius: 50%;

      z-index: 1;

      &.is-active {
        background: $blue;

        &:before {
          position: absolute;
          display: block;
          content: '';

          top: 50%;
          right: 1px;

          height: 1px;
          width: calc(400/4 * 1px);

          background: gray;
          background: $blue;

          transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
        }
      }

      &:first-child {
        &:before {
          display: none;
        }
      }

    }
  }
}
.big {
  height: 50px;
  width: 50px;
  background: $light-gray;
  border: 1px solid $blue;
}
